.main-container {
    display: flex; /* Use flexbox to make children appear side by side */
  }
  
  .left-div, .right-div {
    flex: 1; /* Equal flex distribution */
  }
  
  .invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .invoice-details table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .invoice-details th, .invoice-details td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .invoice-total {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
  }
  
  .download-btn {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
  }
  
  /* Additional styles for printing */
  @media print {
    .receipt {
        font-size: 10pt;
        padding: 10mm; /* Adjust for proper edge spacing */
    }
  }