.charts-container {
    padding: 16px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 16px;
    padding: 16px;
  }
  
  .grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chart-wrapper {
    width: 100%; /* Ensure the chart takes full width of the container */
    margin: 0 auto; /* Center the chart within the wrapper */
  }
  
  .bar-chart-wrapper {
    max-width: 500px; /* Adjust this value to control the maximum width of the bar charts */
  }
  
  .pie-chart-wrapper {
    max-width: 300px; /* Adjust this value to control the maximum width of the pie charts */
  }
  
  .chart-title {
    margin-top: 16px;
    font-size: 1.2em;
  }
  