.tabs-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    max-width: 1000px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  
  .tab-buttons {
    display: flex;
    width: 300px;
  }
  
  .tab-buttons button {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    flex: 1;
    border-radius: 0;
    transition: background-color 0.3s ease;
  }
  
  .tab-buttons button.active {
    background-color: #027265;
    color: white;
  }
  
  .tab-content {
    padding: 20px;
  }
  